<div class="past-tournaments" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">
    <div class="tournaments-not">
        <div class="tournaments-not-photo">
        </div>
        <div class="tournaments-log-text">
            Прошедшие турниры
        </div>
    </div>
    <div class="news-block" *ngFor="let turnament of turnaments; let i = index">
        <div class="current-tournaments-content">

            <div class="title-tournaments">
                <div class="tournaments-date">
                    C {{turnament.dateStart}}
                </div>
                <div class="tournaments-text">
                    {{turnament.name}}
                </div>
            </div>

            <div class="tournaments-description">
                {{turnament.description}}
            </div>

        
            <div class="current-tournaments-command-content">
                <div class="current-tours inline-block">
                    Раскрыть
                </div>

                <input type="checkbox" id="{{'tur'+i}}" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
                <label for="{{'tur'+i}}" class="tournaments-command-open"></label>

                <div class="current-tour-content">

                    <div class="current-turnament-table">
                        <div>
                            <table class="lk-command">
                                <tr *ngFor="let row of turnament.tableTutnament.rowSize; let r = index">
                                    <td *ngFor="let col of turnament.tableTutnament.colSize; let c = index">
                                        {{turnament.tableTutnament.table[r][c]}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div *ngFor="let groupTour of turnament.groupTourNumber; let t = index" [ngClass]="groupTour.status == 0 ? 'current-tour-opacity' : ''" class="current-tour-block">
                        <div class="current-tour-number" [ngClass]="groupTour.status == 1 ? 'active-tour' : ''">
                            Тур № {{groupTour.numberTour}}
                        </div>
                        <div *ngFor="let tour of groupTour.groupDateStart; let d = index" class="current-game-group-date">
                            <div class="current-day-play-game">
                                <div class="place-start-game" *ngIf="groupTour.status != 0">
                                    Место: {{tour.arena}}
                                </div>
                                День {{d+1}}
                                <div class="date-start-game" *ngIf="groupTour.status != 0">
                                    Дата игр: {{tour.dateStart | date:'dd-MM-yyyy'}}
                                </div>
                            </div>

                            <div *ngFor="let game of tour.gameTurnament" class="game-block">
                                <div class="game-points">
                                    {{game.commandOneGoals}} - {{game.commandTwoGoals}}
                                </div>

                                <div class="game-command-name-block">
                                    <div class="game-command-name">
                                        {{game.commandOneName}}
                                    </div>
                                    VS
                                    <div class="game-command-name">
                                        {{game.commandTwoName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>