<div class="command-content" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">

    <div class="command-title">
        <div class="command-title-photo">
        </div>
        <div class="command-title-text">
            Список команд играющих в лиги
        </div>
    </div>



    <div *ngFor="let command of commands; let i = index" class="command-block">

        <div class="command-avatar-block">
            <div class="command-avatar" [style.background-image]="command.photo"></div>
        </div>

        <div class="command-name">{{command.name}}</div>

        <div class="command-player">
            <div class="tournaments-command-title inline-block">
                Состав
            </div>

            <input type="checkbox" id="{{'tournaments' + i}}" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
            <label for="{{'tournaments' + i}}" class="tournaments-command-open"></label>
            <div>
                <table class="lk-command comand-table">
                    <tr class="lk-player">
                        <td class="lk-number-count title-header">
                            №
                        </td>
                        <td class="lk-surname title-header">
                            Фамилия
                        </td>
                        <td class="lk-full-name title-header">
                            Имя
                        </td>
                        <td class="lk-last-name title-header">
                            Отчество
                        </td>
                        <td class="lk-number title-header">
                            Номер в поле
                        </td>
                    </tr>

                    <tr class="lk-player" *ngFor="let player of command.players; let j = index">
                        <td class="lk-number-count">
                            {{j+1}}
                        </td>
                        <td class="lk-surname">
                            {{player.surname}}
                        </td>
                        <td class="lk-full-name">
                            {{player.name}}
                        </td>
                        <td class="lk-last-name">
                            {{player.middleName}}
                        </td>
                        <td class="lk-number">
                            {{player.number}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>