<div class="current-tournaments" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">

    <div class="current-tournaments-content">
        <div class="tournaments-photo" [style.background-image]="'url(./content/img/slade_home/slade1.jpg)'"></div>
        <div class="title-tournaments">
            <div class="tournaments-text">
                Чемпионат саратова по минифутболу 2018
            </div>
        </div>
        <div class="tournaments-registration-block">
            <div class="tournaments-date">
                C 12.12.2017
            </div>
            <form class="example-form">
                <button mat-button class="tournaments-registration">Учавствовать</button>
            </form>
        </div>


        <div class="tournaments-command-content">
            <div class="tournaments-command-title">
                Команды
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number title-header">
                    №
                </div>
                <div class="tournaments-command-name title-header">
                    Названия команд участников турнира
                </div>
                <div class="tournaments-command-status title-header">
                    Статус заявки
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    1
                </div>
                <div class="tournaments-command-name">
                    Зенит
                </div>
                <div class="tournaments-command-status">
                    Заявка подана
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    2
                </div>
                <div class="tournaments-command-name">
                    Дрова
                </div>
                <div class="tournaments-command-status">
                    Заявка принята
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    3
                </div>
                <div class="tournaments-command-name">
                    Арсенал
                </div>
                <div class="tournaments-command-status">
                    Заявка подана
                </div>
            </div>
        </div>
    </div>

    <div class="current-tournaments-content">
        <div class="tournaments-photo" [style.background-image]="'url(./content/img/slade_home/slade1.jpg)'"></div>
        <div class="title-tournaments">
            <div class="tournaments-text">
                Чемпионат саратова по минифутболу 2018
            </div>
        </div>
        <div class="tournaments-registration-block">
            <div class="tournaments-date">
                C 12.12.2017
            </div>
            <form class="example-form">
                <button mat-button class="tournaments-registration">Учавствовать</button>
            </form>
        </div>


        <div class="tournaments-command-content">
            <div class="tournaments-command-title">
                Команды
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number title-header">
                    №
                </div>
                <div class="tournaments-command-name title-header">
                    Названия команд участников турнира
                </div>
                <div class="tournaments-command-status title-header">
                    Статус заявки
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    1
                </div>
                <div class="tournaments-command-name">
                    Зенит
                </div>
                <div class="tournaments-command-status">
                    Заявка подана
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    2
                </div>
                <div class="tournaments-command-name">
                    Дрова
                </div>
                <div class="tournaments-command-status">
                    Заявка принята
                </div>
            </div>

            <div class="tournaments-command">
                <div class="tournaments-command-number">
                    3
                </div>
                <div class="tournaments-command-name">
                    Арсенал
                </div>
                <div class="tournaments-command-status">
                    Заявка подана
                </div>
            </div>
        </div>
    </div>
</div>