<div class="current-tournaments" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">

    <div class="tournaments-not">
        <div class="tournaments-not-photo">
        </div>
        <div class="tournaments-log-text">
            Проходит набор команд для участия
        </div>
        <!--<div class="tournaments-log-text no-log">
          Нет открытых чемпионатов
        </div>-->
    </div>

    <div class="news-block">
        <div class="current-tournaments-content">

            <div class="title-tournaments">
                <div class="tournaments-date">
                    C 12.12.2017
                </div>
                <div class="tournaments-text">
                    Чемпионат саратова по минифутболу 2018
                </div>
                <form class="example-form inline-block">
                    <button mat-button class="tournaments-registration">Участвовать</button>
                </form>
            </div>

            <div class="tournaments-command-content">
                <div class="tournaments-command-title inline-block">
                    Команды
                </div>

                <input type="checkbox" id="tournaments1" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
                <label for="tournaments1" class="tournaments-command-open"></label>

                <table class="lk-command">
                    <tr>
                        <td class="title-header">
                            №
                        </td>
                        <td class="title-header">
                            Названия команд участвующих в турнире
                        </td>
                        <td class="title-header">
                            Статус заявки
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Зенит
                        </td>
                        <td class="filed">
                            Заявка подана
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Дрова
                        </td>
                        <td class="adopted">
                            Заявка принята
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Арсенал
                        </td>
                        <td class="filed">
                            Заявка подана
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="news-block">
        <div class="current-tournaments-content">

            <div class="title-tournaments">
                <div class="tournaments-date">
                    C 12.12.2017
                </div>
                <div class="tournaments-text">
                    Чемпионат саратова по минифутболу 2018
                </div>
                <form class="example-form inline-block">
                    <button mat-button class="tournaments-registration">Участвовать</button>
                </form>
            </div>

            <div class="tournaments-command-content">
                <div class="tournaments-command-title inline-block">
                    Команды
                </div>

                <input type="checkbox" id="tournaments2" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
                <label for="tournaments2" class="tournaments-command-open"></label>

                <table class="lk-command">
                    <tr>
                        <td class="title-header">
                            №
                        </td>
                        <td class="title-header">
                            Названия команд участвующих в турнире
                        </td>
                        <td class="title-header">
                            Статус заявки
                        </td>
                    </tr>

                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Зенит
                        </td>
                        <td class="filed">
                            Заявка подана
                        </td>
                    </tr>

                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Дрова
                        </td>
                        <td class="adopted">
                            Заявка принята
                        </td>
                    </tr>

                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Арсенал
                        </td>
                        <td class="filed">
                            Заявка подана
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>