<div class="current-tournaments" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">

    <div class="tournaments-not">
        <div class="tournaments-not-photo">
        </div>
        <div class="tournaments-log-text" *ngIf="isTur">
            Проходит набор команд для участия
        </div>
        <div class="tournaments-log-text no-log" *ngIf="!isTur">
            Нет открытых чемпионатов
        </div>
    </div>

    <div class="news-block" *ngFor="let turnament of turnaments; let i = index">
        <div class="current-tournaments-content">

            <div class="title-tournaments">
                <div class="tournaments-date">
                    C {{turnament.dateStart}}
                </div>
                <div class="tournaments-text">
                    {{turnament.name}}
                </div>

                <button mat-button class="tournaments-registration button-active" (click)="declareTournament(turnament.id, i)">Участвовать</button>
            </div>

            <div class="tournaments-description">
                {{turnament.description}}
            </div>

            <div class="tournaments-command-content">
                <div class="tournaments-command-title inline-block">
                    Команды
                </div>

                <div class="turnament-price">
                    Взнос за турнир - {{turnament.contributionTournament}}p.   Взнос за игру - {{turnament.contributionGame}}р.
                </div>

                <input type="checkbox" id="{{'tur'+i}}" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
                <label for="{{'tur'+i}}" class="tournaments-command-open"></label>

                <table class="lk-command">
                    <tr>
                        <td class="title-header">
                            №
                        </td>
                        <td class="title-header">
                            Названия команд участвующих в турнире
                        </td>
                        <td class="title-header">
                            Статус заявки
                        </td>
                    </tr>

                    <tr *ngFor="let command of turnament.commands; let j = index">
                        <td>
                            {{j+1}}
                        </td>
                        <td>
                            {{command.name}}
                        </td>
                        <td *ngIf="!command.status" class="filed">
                            рассмотрение
                        </td>
                        <td *ngIf="command.status" class="adopted">
                            участие
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>