<div class="command-content" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">


    <div id="foto-content" class="foto-news-content">
        <div class="news-title-foto">
        </div>
        <div class="foto-display" [style.background-image]="display"></div>
        <div class="foto-filter">
            <div class="filter-title-text">Выберете период времени</div>
            <form #myForm="ngForm" novalidate class="form-date">
                <my-date-picker class="date-ot" (dateChanged)="filterDate($event,1)" closeSelectorOnDocumentClick="true" name="dateTo" [options]="myDatePickerOptions" [(ngModel)]="dateTo" required></my-date-picker>
                <span>- От</span>
                <my-date-picker (dateChanged)="filterDate($event,2)" name="dateEnd" [options]="myDatePickerOptions" [(ngModel)]="dateEnd" required></my-date-picker>
                <span>- До</span>
            </form>
            <div class="filter-title-text-comand">Выберете команды</div>
            <div class="filter-command">
                <div class="command-filter-button" *ngFor="let command of commandFilter; let i = index">
                    <mat-slide-toggle (change)="filterCommand(command.id,$event.checked)">{{command.name}}</mat-slide-toggle>
                </div>
            </div>
        </div>

        <div class="foto-content">
            <div *ngFor="let url of foto" class="foto-button" (click)="showImg(url)" [style.background-image]="url"></div>
        </div>
    </div>
</div>