<div class="command-content" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">


    <div id="photo-content" class="photo-news-content">
        <div class="news-title-photo">
        </div>
        <div class="photo-content">
            <div *ngFor="let url of pagePhotos.photos; let i = index" class="photo-button" (click)="openPhoto(url, i)" [style.background-image]="url"></div>
        </div>
        <div class="photo-filter">
            <div class="filter-title-text-comand">Выберете команду</div>
            <div class="filter-command">
                <div class="command-filter-button" *ngFor="let command of commandFilter">
                    <mat-slide-toggle [checked]="command.id==commandId" (change)="filterCommand(command.id, $event.checked)">{{command.name}}</mat-slide-toggle>
                </div>
            </div>
        </div>
        <div class="nav-content">
            <div class="nav">
                <div class="left" width="40" height="40" (click)="nextLeftPage()"> </div>
                <div class="right" width="40" height="40" (click)="nextRightPage()"> </div>
                <ul class="pages">
                    <li [ngStyle]="pageStyle(1)" (click)="getPage(1)">1</li>
                    <li *ngFor="let page of pageSize" [ngStyle]="pageStyle(page)" (click)="getPage(page)">{{page}}</li>
                    <li *ngIf="pagePhotos.pageSize > 1" [ngStyle]="pageStyle(pagePhotos.pageSize)" (click)="getPage(pagePhotos.pageSize)">{{pagePhotos.pageSize}}</li>
                    <li>всего - {{pagePhotos.pageSize}}</li>
                </ul>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div id="photo-layer" class="photo-layer">
    <div class="photo-show" [style.background-image]="display.url" [ngStyle]="photoShowStyle()" onmousemove="$('.photo-layer').addClass('photo-hover')" onmouseout="$('.photo-layer').removeClass('photo-hover')">
        <div class="button-photo-left" (click)="nextLeftPhoto()">
        </div>
        <div class="button-photo-right" (click)="nextRightPhoto()">
        </div>
    </div>
    <div class="photo-show-close" (click)="closePhoto()">
    </div>

</div>