<div class="admin-tuning-turnament-content" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">
    <div class="inline-block admin-turnament-status">
        этап -
        <div class="inline-block">
            <select [(ngModel)]="turnament.step" (change)="changeStep($event.target.value)">
                <option [value]="0">
                    Редактирование
                </option>
                <option [value]="1">
                    Регистрация
                </option>
                <option [value]="2">
                    Построение
                </option>
                <option [value]="3">
                    В процессе
                </option>
                <option [value]="4">
                    Завершен
                </option>
            </select>
        </div>
    </div>

    <button *ngIf="turnament.step == 0" mat-button class="open-reg-button-turnament button-active" (click)="openRegistration()">Открыть для регистрации</button>
    <button *ngIf="turnament.step == 1" mat-button class="open-reg-button-turnament button-active" (click)="completeRegistration()">Завершить регистрацию</button>
    <button *ngIf="turnament.step == 2" mat-button class="open-reg-button-turnament button-active" (click)="startTurnament()">В процесс</button>
    <button *ngIf="turnament.step == 3" mat-button class="open-reg-button-turnament button-active" (click)="completeTurnament()">Завершить турнир</button>
    <button mat-button class="button-back" (click)="back()">Назад</button>

    <div class="admin-tuning-turnament">
        <div>
            <p>Название</p>
            <textarea class="admin-turnament-name" [(ngModel)]="turnament.name"> </textarea>
        </div>

        <div>
            <p>Описание</p>
            <textarea class="admin-turnament-description" [(ngModel)]="turnament.description"> </textarea>
        </div>

        <div class="inline-block">
            <p>Тип</p>
            <select [(ngModel)]="turnament.type" [disabled]="!isCalc">
                <option [value]="1">
                    Круговой
                </option>
                <option [value]="2">
                    Смешанный
                </option>
            </select>
        </div>

        <div class="inline-block">
            <p>Взнос за турнир</p>
            <input type="number" [(ngModel)]="turnament.contributionTournament" />
        </div>
        <div class="inline-block">
            <p>Взнос за игру</p>
            <input type="number" [(ngModel)]="turnament.contributionGame" />
        </div>
        <div class="inline-block">
            <p>Дата начала</p>
            <input type="date" [ngModel]="turnament.dateStart | date:'yyyy-MM-dd'" (ngModelChange)="turnament.dateStart = $event">
        </div>

        <button mat-button class="save-button-turnament button-active" (click)="saveTurnament()">Сохранить</button>
    </div>

    <div *ngIf="turnament.step == 1" class="building-title">
        Идет регистрация...
    </div>

    <button *ngIf="turnament.step == 2 && isCalc" mat-button class="calculate-table button-active" (click)="calculateTable()">Расчитать таблицу</button>

    <div class="admin-tuning-turnament-block" *ngIf="turnament.step != 0">
        <div class="button-turnament-block" *ngIf="turnament.step != 1">
            <div mat-button [className]="page == 1 ? 'turnament-control-active' : 'turnament-control'" (click)="page=1">Команды</div>
            <div mat-button [className]="page == 2 ? 'turnament-control-active' : 'turnament-control'" (click)="page=2">Турнир</div>
        </div>

        <div class="tournaments-command-content" *ngIf="page == 1">
            <div class="tournaments-command-title inline-block">
                Команды
            </div>

            <table class="lk-command">
                <tr>
                    <td class="title-header">
                        №
                    </td>
                    <td class="title-header">
                        Названия команд заявленных на турнир
                    </td>
                    <td class="title-header">
                        Статус заявки
                    </td>
                    <td class="delet-player title-header">
                        Удалить
                    </td>
                </tr>

                <tr *ngFor="let command of turnament.commands; let j = index">
                    <td>
                        {{j+1}}
                    </td>
                    <td>
                        {{command.name}}
                    </td>
                    <td *ngIf="!command.status">
                        <div class="button-turnament-decision" (click)="acceptDeclare(turnament.id, command.id, j)">принять</div>
                        <div class="button-turnament-decision" (click)="selectDeclare(command.id, i)" data-toggle="modal" data-target="#myModal">отказать</div>
                    </td>
                    <td *ngIf="command.status" class="adopted">
                        принята
                    </td>
                    <td *ngIf="command.status" class="delet-player delet-player-img" (click)="selectDeclare(command.id, j)" data-toggle="modal" data-target="#myModal"></td>
                    <td *ngIf="!command.status"></td>
                </tr>
            </table>
        </div>

        <div class="tournaments-command-content" *ngIf="page == 2">
            <div class="turnament-table-scrol">
                <table class="lk-command">
                    <tr *ngFor="let row of rowSize; let r = index">
                        <td *ngFor="let col of colSize; let c = index">
                            {{table[r][c]}}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngFor="let groupTour of turnament.groupTourNumber; let t = index" class="tour-block">
                <button *ngIf="groupTour.status == 0 && turnament.step == 3" mat-button class="active-tour-button button-active" (click)="activTour(groupTour.numberTour)">Активировать тур</button>
                <button *ngIf="groupTour.status == 2 && turnament.step == 3" mat-button class="active-tour-button button-active" (click)="closeTour(groupTour.numberTour)">Завершить тур</button>
                <div class="tour-number">
                    Тур № {{groupTour.numberTour}}
                </div>

                <div *ngFor="let tour of groupTour.groupDateStart; let d = index" class="game-group-date">
                    <div class="day-play-game">
                        День {{d+1}}<br />
                    </div>

                    <div class="date-start-game" *ngIf="groupTour.status != 2 && groupTour.status != 3">
                        Дата игр <br />
                        <input type="datetime-local" [ngModel]="tour.dateStart" (change)="changeDate($event.target.value, tour.dateStart, t+1)">
                        <br />
                        Место <br />
                        <select [(ngModel)]="tour.arena" (change)="changeArena($event.target.value, tour.dateStart, t+1)">
                            <option [value]="arena.id" *ngFor="let arena of arens">
                                {{arena.name}}
                            </option>
                        </select>
                    </div>
                    <div *ngFor="let game of tour.gameTurnament" class="game-block">
                        <div *ngIf="game.status != 1" class="game-points">
                            {{game.commandOneGoals}} - {{game.commandTwoGoals}}
                        </div>
                        <div *ngIf="game.status == 1" class="game-points">
                            <input type="number" class="goals-command" [ngModel]="game.commandOneGoals" (change)="game.commandOneGoals = $event.target.value" />
                            -
                            <input type="number" class="goals-command" [ngModel]="game.commandTwoGoals" (change)="game.commandTwoGoals = $event.target.value" />
                        </div>

                        <div class="game-command-name-block">
                            <div class="game-command-name">
                                {{game.commandOneName}}
                            </div>
                            VS
                            <div class="game-command-name">
                                {{game.commandTwoName}}
                            </div>
                        </div>

                        <button *ngIf="game.status == 1" mat-button class="game-complete-button button-active" (click)="completeGame(game.id, game.commandOneGoals, game.commandTwoGoals)">Завершить</button>
                    </div>
                </div>

                <input type="checkbox" id="{{'divide' + t}}" class="hide" [attr.checked]="isChecked ? 'checked' : null" />
                <label *ngIf="turnament.step == 3 && groupTour.status != 2 && groupTour.status != 3" for="{{'divide' + t}}" class="tournaments-command-open game-day-button-open">Разбить на дни</label>

                <div *ngIf="turnament.step == 3  && groupTour.status != 2 && groupTour.status != 3">
                    <div class="inline-block">
                        Выберете колличество дней  <input type="number" value="0" (change)="selectDay($event.target.value)" />
                    </div>
                    <button mat-button class="game-day-button button-active" (click)="divideForDay(groupTour.numberTour)">Сохранить</button>
                    <div>
                        <div *ngFor="let day of days; let w = index" class="day-value">
                            День {{w+1}}
                            <input type="datetime-local" [ngModel]="day.day" (change)="day.day = $event.target.value">
                            Место
                            <select [(ngModel)]="day.arena">
                                <option *ngFor="let arena of arens" [value]="arena.id">
                                    {{arena.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="declare-modal-content">
            <div class="modal-body">
                Отказать в участии?
            </div>
            <div class="modal-body">
                Причина
                <textarea type="text" [(ngModel)]="cause"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeDeclare()">ДА</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cause = null">Отмена</button>
            </div>
        </div>
    </div>
</div>