<div class="admin-news-content" [ngBusy]="{busy: busy, message: 'Пожалуйста, подождите...'}">
    <div class="admin-news-title">
        Управление новостями
    </div>

    <div class="admin-list-news-block">
        <div class="filter-button-block">
            <div class="filter-button" [ngClass]="type == 1 ? 'filter-button-active' : ''" (click)="type=1">Текстовые</div>
            <div class="filter-button" [ngClass]="type == 2 ? 'filter-button-active' : ''" (click)="type=2">Фото</div>
            <div class="filter-button" [ngClass]="type == 3 ? 'filter-button-active' : ''" (click)="type=3">Видео</div>
        </div>
        <ul>
            <li *ngFor="let news of getNewsForType(type); let i = index">
                <div><p>Название -</p> {{news.title}} </div>
                <div><p>Тип новости -</p> {{news.type | newsType}} </div>
                <div><p>Дата создания(редактирования) -</p> {{ news.date}}</div>
                <div><p>Отображается на главной странице -</p> {{news.top ? "Да":" Нет"}}</div>
                <button mat-button class="button-come-in button-edit-news" (click)="editNews(news.id)">Редактировать</button>
                <button mat-button class="button-come-in button-add-news" (click)="selectNews(news.id, i)" data-toggle="modal" data-target="#myModal">Удалить</button>
                <mat-checkbox [(ngModel)]="news.active" (change)="active(news.id)">
                    - активна
                </mat-checkbox>
                <hr />
            </li>
        </ul>
    </div>

    <div class="admin-add-news-block">
        <div class="add-news-title">Добавить новость</div>

        <div class="select-news-title">Выберете тип новости</div>
        <div class="check-news-block">
            <mat-checkbox [(ngModel)]="isText" (change)="isPhoto=false; isVideo=false">
                Текст
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="isPhoto" (change)="isText=false; isVideo=false">
                Фотоотчет
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="isVideo" (change)="isPhoto=false; isText=false">
                Видео
            </mat-checkbox>
        </div>
        <button mat-button [ngClass]="(isText || isPhoto  || isVideo) ? 'button-active' : 'button-no-active'" class="button-come-in" (click)="addNews()">Создать</button>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                Удалить новость?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="dellNews()">ДА</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
